/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require bootstrap
 *= require font-awesome
 *= require_self
 */

.navbar-brand-icon {
  height: 40px;
  width: 40px;
  padding: 0;
  border: ;
  margin-top: 0.3em !important;
  margin-left: 0.5em !important;
  display: inline;
}

.avatar {
  border: 1px solid white;
  border-radius: 45px;
  box-shadow: 1px 1px 1px rgba(0,0,0, 0.7);
  display: block;
  height: 90px;
  width: 90px;
}

.avatar img {
  border: 5px solid rgba(0, 0, 0, 0.2);
  border-radius: 45px; /* must be width + border */
  width: 80px;
  height: 80px;
}
